{{#extends "base"}}
{{#block "content"}}

<form method="POST">
    <h2>Editing Actor</h2>
    <div>
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" name="first_name" value={{actor.first_name}}>
    </div>
 <div>
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" name="last_name" value={{actor.last_name}}>
    </div>

    <input type="submit" value="Add Actor" class="btn btn-primary mt-2">
</form>
{{/block}}
{{/extends}}